
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<br />

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

@if (ViewBag.Exito != null)
{
    <div class="alert alert-success">@ViewBag.Exito</div>
}

<form method="post" action="/usuarios/Login">
    <div class="form-group">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" placeholder="Ingrese email" name="email"/>
    </div>
    <br />

    <div class="form-group">
    <label class="form-label">Contraseña</label>
    <input type="password" class="form-control" placeholder="Ingrese contraseña" name="contrasena"/>
    </div>
    <br />

    <input type="submit" class="btn btn-success" value="Login" />
</form>

