@using Dominio;
@{
    ViewData["Title"] = "ModificarSaldoCliente";
}

<h1>Modificar Saldo</h1>
<br />

@if(ViewBag.Error != null)
{
    <div class="alert alert-danger">@ViewBag.Error</div>
}

@if(ViewBag.Exito != null)
{
    <div class="alert alert-success">@ViewBag.Exito</div>
}
<br />

<form method="post" action="/usuarios/ModificarSaldoCliente">
    <div class="form-group">
        <label class="form-label">Nuevo saldo</label>
        <input type="number" class="form-control" placeholder="Ingrese nuevo saldo" name="nuevoSaldo"/>
    </div>

    <br />

    <input type="submit" class="btn btn-secondary" value="Modificar Saldo" />

</form>

